/* bookmaking_view.css */
.flex {
display: flex;
}
.full {
width: 100%;
}
#bookmakingGrid {
  display: grid;
  grid-template-columns: 1fr; /* 한 개의 열로 설정 */
  justify-items: center; /* 수평 방향으로 중앙 정렬 */
  margin-top: 50px;
}

.bookmakingGridCenter {
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 800px; /* 최대 너비 제한 */
  margin: 0 auto; /* 상하 마진은 0, 좌우 마진은 auto로 설정하여 중앙 정렬 */
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.bookmakingGridCenter h2 {
text-align: center;
font-size: 24px;
color: #333;
margin-bottom: 30px;
}
.bb-custom-wrapper {
  height: 600px;
  vertical-align: middle;
  margin: 50px auto; /* 상하 마진 조정 */
  padding: 20px 0; /* 상하 패딩 추가 */
}

.makedPageViewer {
  height: 100%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
}
.containerLeft, .containerRight {
display: table;
height: 100%;
width: 100%;
}
.containerLeft>nav, .containerRight>nav {
display: table-cell;
vertical-align: middle;
text-align: center;
}
.containerLeft nav a, .containerRight nav a {
display: inline-block;
margin: 2px 1px;
padding: 5px;
}
#bb-nav-first, #bb-nav-last {
background: #03CB8F;
}
#bb-nav-prev, #bb-nav-next {
background: #9CC624;
}
.pageImage {
height: 100%;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.pointer:hover {
opacity: 0.8;
cursor: pointer;
}

.makedPageViewer {
	width : 900px;
	height: 800px;
  	margin: 0 auto; /* 상하 마진은 0, 좌우 마진은 auto로 설정하여 중앙 정렬 */
}

