body , select.notice, select.column, input#search, input.btnSearch,input.btnWritten{
    font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
}

h3, p {
  margin: 0; /* 모든 방향의 마진을 0으로 설정합니다. */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section.notice {
  margin: auto;
  padding: 80px 0;
  max-width: 1300px;
}

.pageTitle {
  margin-bottom: 60px;
}

.pageTitle h3 {
  font-size: 40px;
  color: #333333;
  font-weight:600;
  text-align: center;
}

.pageWrap{
	background-color: #F2F2F0;
	width:100%;
	margin-bottom: 40px;
	height: 200px;
	display: flex;
	align-items :center;
}

.noticeInfo{
	width: 70%;
	margin-left :70px;
}

.noticeHeader {
	margin-bottom: 20px;
	font-size:25px;
	font-weight : bold;
}

.noticeImg img {
	width : 90%;
}


.bookOrder{
	display:flex;
	justify-content:flex-start;
	margin-top: 50px;
	margin-bottom: 30px;
}

.bookOrder button {
	font-size : 16px;
}

.bookOrder button:hover {
	cursor : pointer;
	text-decoration: underline;
}


.bookImg img {
	width: 200px;
	height: 250px;
	border-radius: 5px;
}

.iconItems {
	display: flex;
}

.subItems {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bookShareWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 */
  grid-gap: 30px; /* 간격 */
  justify-items: center; /* 가로 중앙 정렬 */
  margin-top: 20px;
}

.bookShareContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 360px;
  margin-right: 20px;
}

.bookShareContainer:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bookImg img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.bookDetails {
   display: flex;
   flex-direction: column;
   height : 200px;
   width: 200px;
   justify-content: space-between;
} 

.bookOwner {
   display: flex;
   align-items: center;
}

.createDate {
  	margin-bottom: 10px;
}

.bookOwner {
  margin-bottom: 10px;
}

.createDate {
  margin-right: 10px;
  font-weight: bold;
}



.createAuthor {
  	margin-left : 10px;
}

.bookContents {
	margin-bottom: 10px;
	font-size : 14px;
}

.bookTitle {
   margin-bottom: 10px;
}

.createTitle {
  font-size: 20px;
  width: fit-content;
  font-weight: bold;
  background: linear-gradient(to top, #bfffa1 40%, transparent 70%);
}

.iconItems {
  display: flex;
  align-items: center;
  justify-content : flex-end;
}

.createContents {
	width:180px;
	height:60px;
	overflow:hidden;
	/* background-color:tomato; */
}

.subItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.subItems i {
  font-size: 18px;
  margin-bottom: 5px;
}


.subItems p {
  font-size: 12px;
  font-weight: bold;
}

.bookmarker{
	color: #babab9;
}

.heart {
	color:#FE2E64;
}

.comment {
	color : #ee7143;
}

.paging {
	margin-top: 30px;
}

.paging{
  text-align: center;
}

.paging a{
  margin: 10px;
  color: #333333;
  font-size: 20px;
}
