/* bookmaking_view.css */
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

.flex {
display: flex;
}
.full {
width: 100%;
}


h3 {
	margin: 0;
}
section.notice {
  margin: auto;
  padding: 80px 0;
  max-width: 1300px;
  /* background-color : tomato; */
}


.pageTitle {
  margin-bottom: 80px;
}

.pageTitle h3 {
  font-size: 40px;
  color: #333333;
  font-weight:600;
  text-align: center;
}
#bookmakingGrid {
  display: grid;
  grid-template-columns: 1fr; /* 한 개의 열로 설정 */
  justify-items: center; /* 수평 방향으로 중앙 정렬 */
  margin-top: 50px;
}

.bookmakingGridCenter {
  width: 100%; /* 너비를 100%로 설정 */
  max-width: 800px; /* 최대 너비 제한 */
  margin: 0 auto; /* 상하 마진은 0, 좌우 마진은 auto로 설정하여 중앙 정렬 */
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.bookmakingGridCenter h2 {
text-align: center;
font-size: 24px;
color: #333;
margin-bottom: 30px;
}
.bb-custom-wrapper {
  height: 600px;
  vertical-align: middle;
  margin: 70px auto; /* 상하 마진 조정 */
  box-shadow: 8px 8px 15px 0 rgba(207, 171, 120, 0.5), /* 부드러운 그라데이션 그림자 */
              4px 4px 10px 0 rgba(255, 241, 208, 1); /* 강조 그림자 */
}

.makedPageViewer {
  width: 1300px;
  height: 800px;
  margin: 0 auto; /* 너비를 원하는 크기로 조정합니다. */
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-image: url('/sangsangjakka/resources/img/back.jpg');
  background-size: cover; /* 배경 이미지가 요소의 너비에 맞게 확대됩니다. */
  background-repeat: no-repeat; /* 배경 이미지 반복을 중지합니다. */
 
}
.containerLeft, .containerRight {
display: table;
height: 100%;
width: 100%;
}
.containerLeft>nav, .containerRight>nav {
display: table-cell;
vertical-align: middle;
text-align: center;
}
.containerLeft nav a, .containerRight nav a {
display: inline-block;
margin: 2px 1px;
padding: 5px;
}
#bb-nav-first, #bb-nav-last {
background: #03CB8F;
}
#bb-nav-prev, #bb-nav-next {
background: #9CC624;
}
.pageImage {
	height: 70%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position : relative;
	margin-top :30px;
}
.pointer:hover {
opacity: 0.8;
cursor: pointer;
}

.pageContents {
	display : flex;
	margin-top: 20px;
	justify-content:center;
} 


:root {
  --bg: #fff;
  --text: #382b22;
  
  --light-pink: #fff0f0;
  --pink: #ffe9e9;
  --dark-pink: #f9c4d2;
  --pink-border: #b18597;
  --pink-shadow: #ffe3e2;
  
  --light-blue: #CEE3F6; 
  --blue:#CEDDF6;
  --dark-blue: #8FACEA;
  --blue-border: #0E63B3;
  --blue-shadow: #C8DCF0; 
  
  --light-green: #E1F5C4;
  --green:#D6F3C2;
  --dark-green: #C1D6A2;
  --green-border:#7FB137; 
  --green-shadow:#D2DDC2;
}



.btnWrap button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  padding: 1.25em 2em;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.like {
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  background: var(--light-pink); /* 기본 버튼 배경색 */
  border: 2px solid var(--pink-border); /* 기본 버튼 테두리 색상 */
}

button.like.saveBtn {
  background: var(--light-blue); /* 저장 버튼의 배경색 */
  border-color: var(--blue-border); /* 저장 버튼의 테두리 색상 */
}

button.like.reportBtn {
  background: var(--light-green); /* 리뷰 버튼의 배경색 */
  border-color: var(--green-border); /* 리뷰 버튼의 테두리 색상 */
}

button.like::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-pink);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.625em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}


button.like.reportBtn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-green);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--green-border), 0 0.625em 0 0 var(--green-shadow);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.like.saveBtn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-blue);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--blue-border), 0 0.625em 0 0 var(--blue-shadow);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.like:hover {
  background: var(--pink);
  transform: translate(0, 0.25em);
}

button.like.reportBtn:hover {
  background: var(--green);
  transform: translate(0, 0.25em);
}

button.like.saveBtn:hover {
  background: var(--blue);
  transform: translate(0, 0.25em);
}

button.like:hover::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -1em);
}

button.like.reportBtn:hover::before {
  box-shadow: 0 0 0 2px var(--green-border), 0 0.5em 0 0 var(--green-shadow);
  transform: translate3d(0, 0.5em, -1em);
}

button.like.saveBtn:hover::before {
  box-shadow: 0 0 0 2px var(--blue-border), 0 0.5em 0 0 var(--blue-shadow);
  transform: translate3d(0, 0.5em, -1em);
}

button.like:active {
  background: var(--pink);
  transform: translate(0em, 0.75em);
}

button.like.reportBtn:active {
  background: var(--green);
  transform: translate(0em, 0.75em);
}

button.like.saveBtn:active {
  background: var(--blue);
  transform: translate(0em, 0.75em);
}

button.like:active::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}

button.like.reportBtn:active::before {
  box-shadow: 0 0 0 2px var(--green-border), 0 0 var(--green-shadow);
  transform: translate3d(0, 0, -1em);
}


button.like.saveBtn:active::before {
  box-shadow: 0 0 0 2px var(--blue-border), 0 0 var(--blue-shadow);
  transform: translate3d(0, 0, -1em);
}

.clicked {
	
}


.createBookImg img {
  width: 220px;
  height: 250px;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 5px;
}

.createBookWrap {
    display:flex;
	width:100%;
	margin-top: 20px;
}


.createBookContainer {
	display:flex;
	width: 80%;
	padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.createBookInfo {
	margin-right: 20px;
	padding-right: 30px;
	display:flex;
	flex-direction:column;
	height: 250px;
	justify-content:space-between;
	border-right: 1px dashed gray;
	width:200px;
}

.createDate {
	margin-bottom:10px;
}

.userNick {
	margin-bottom:10px;
}

.createTitle {
  margin-top:20px;
  margin-bottom:20px;
  font-size: 20px;
  width: fit-content;
  font-weight: bold;
  background: linear-gradient(to top, #bfffa1 40%, transparent 70%);
}

.createContents {
	margin-bottom:10px;
}


.bookReviewWrap ul {
	display:flex;
	flex-direction:column;
	height: 250px;
	justify-content:space-between;
	margin-left :20px;
}

.bookReviewWrap li{
	margin-bottom:20px;
}

.iconItems {
	display: flex;
	width:30%;
}

.subItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-top:10px;
}

.btnWrap{
	display:flex;
	flex-direction:column;
	height: 250px;
	justify-content:space-between;
	margin-left : 30px;
}


/* 리뷰 작성  */
.reviewWriteWrap {
	display:flex;
	flex-direction: column;
	margin-top:30px;
}

.reviewWriteTitle {
	font-size:20px;
	font-weight: bold;

}

.reviewWriteContents {
  width: 1300px; /* 텍스트박스 너비 설정 */
  height: 200px; /* 텍스트박스 높이 설정 */
  position: relative; /* 포지션 상대적으로 설정 */
}
    
#reviewContents {
   width: 100%;
   height: 100%;
   resize: none; /* 텍스트박스 크기 조절 비활성화 */
   outline: none; /* 포커스될 때 테두리 제거 */
   font-size: 18px;
   padding:20px;
   border-radius: 10px;
}
    
.charCount {
   position: absolute;
   bottom: 20px;
   right: 30px;
   font-size: 12px;
   color: gray;
}

.btnWriteWrap {
	display:flex;
	justify-content: flex-end;
}

.btnWrite {
	border: 1px solid #DBDCDF;
	border-radius: 4px;
	height : 45px;
	width : 120px;
	background-color: orange;
	margin-top:20px;
	
}


.write {
	font-size:16px;
}


/* 리뷰 목록 */
.reviewTotal {
	margin-top:30px;
}


.reviewCnt {
	font-weight: bold;
}

.reviewListContainer {
	margin-top : 30px;
	padding:20px;
	display:flex;
	flex-direction:column;
	border-bottom : 1px solid gray;
}

.reviewDate {
	margin-bottom:15px;
	color:gray;
}


.reviewUserWrap {
    display: flex;
    justify-content:space-between;
    margin-bottom: 15px;
    
}

.reviewUser {
	display:flex;
	
}

.reviewNick {
	margin-left: 10px;
}

.reviewContents {
	margin-top: 15px;
	margin-bottom:10px;
    font-size:18px;
}

.reviewListBtn {
	display:flex;
	justify-content:space-between;
	margin-top:30px;
}

.reviewBtnWrap {
	display: flex;
}

.reviewControllWrap {
	display : flex;
}

.reviewLike i{
	font-size:20px;
}

.reviewReport i {
	font-size:20px;
	margin-left:20px;
}

.hidden {
	display:none;
}



#showMoreBtn {
	border: 1px solid #DBDCDF;
	border-radius: 4px;
	height : 45px;
	width : 120px;
	background-color: orange;
	margin-top:20px;
	display: block;
    margin: 30px auto;
}

.reviewEditBtn {
	display : flex;
	justify-content:flex-end;
	margin-top : 10px;
}

.saveReviewBtn {
	margin-right : 10px;
}