@import url(./components/header.css);
@import url(./components/banner.css);
@import url(./components/mainArticle.css);
@import url(./components/footer.css);

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('../fonts/NEXON_Lv1_Gothic/NEXON Lv1 Gothic_OTF_TTF/OTF/NEXON Lv1 Gothic OTF.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('../fonts/SOYO_maple_font/TTF/SOYO Maple Bold.ttf') format('woff2');
    font-style: normal;
}

 #nav ul li{
    font-family: 'SOYOMapleBoldTTF';
 }

