
a{
    text-decoration: none;
}


.footerWrap{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #563CAB;
   
}

.footerServices {

    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.footerServiceContainer {
    margin-right: 100px;
}

.footerServiceContainer:last-child {
    margin-right: 200px;
}

.footerServicesTitle {
    font-size: 25px;
    font-weight: 600;
    font-family: Fredoka;
    margin-bottom: 30px;
    color: #fffefe;
}

.footerServicesList li{
    margin-bottom: 10px;
}

.footerServicesList li a{  
    margin-bottom: 10px;
    color: #fffefe;

}


.footerWebInfo {
    width: 20%;
    padding-top: 70px;
}

.headerLogo {
    margin-bottom: 20px;
}

.footerAddress{
    margin-bottom: 20px;
    font-size: 20px;
    color: #fffefe;
}

.footerTel {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fffefe;
}

.footerEmail{
    margin-bottom: 20px;
    font-size: 20px;
    color: #fffefe;
}