<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Gochi+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/components/banner.css">
</head>
<body>
    <div id="banner">
        <div class="bannerWrap">
            <div class="bannerContainer">
                <div class="bannerTitle">Wake a Genius <br> in a Child</div>
                <div class="bannerContents">Phasellus et nisl vitae tortor pharetra hendrerit ut et nibh. <br>Praesent fringilla dictum libero ac efficiturer.</div>
                <button class="bannerbtn">Sign up for a free consultation</button>
                <div class="bannerTxt"> + Wake a genius in a child</div>
            </div>
            <div class="bannerImg"></div>
        </div>
    </div>
    

</body>
</html>