
body {
    font-family: 'NEXON Lv1 Gothic OTF',sans-serif;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    min-height: 100vh; /* 화면 전체 높이 */

}

button{
	background-color:blue;
	width:100px;
	height:100px;
}



.pageWrap{
	background-color: #f8f5c5;
	width:1300px;
	margin-top: 60px;
	margin-bottom: 40px;
	height: 200px;
	display: flex;
	align-items :center;
	
}

.pageWrap img{
	  margin-left:250px;
	  margin-top:0px;
	  width:300px;
}

.noticeHeader {
	margin-bottom: 20px;
	font-size:25px;
	font-weight : bold;
	width:618px;
	margin-left:70px;
}

.noticeContents {
	margin-left:70px;
}

section.notice {
  margin: auto;
  padding-top: 80px;
  max-width: 1300px;
  margin-bottom:0;
}



.mainTitle{
	text-align:center;
}


#monthSelect {
    width: 80px; /* 선택 박스의 너비 조절 */
    font-size: 20px; /* 글꼴 크기 조절 */
}


ul {
    margin: 0;
    padding: 0;
}

button {
  border: 0;
  background-color: transparent;
}

#article {
    display: grid;
    grid-template-columns: 10% 80% 10%; 
    margin-bottom: 100px;
    height: auto;
}



.userBestSellerWrap{
	margin-top:0;
	margin-bottom:170px;
	margin-left:100px;
}

.mainTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.userBestSellerList ul{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    justify-content: space-between;
}

.userBestSellerList2 ul{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    justify-content: space-between;
}

.userBestSellerList3 ul{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    justify-content: space-between;
}

.bookWrap img{
    object-fit: cover;
    border-radius: 10px;

}



.imgThis{
    width: 200px;
    height: 250px;
}

.imgLast{
    width: 180px;
    height: 225px;
}

.bookWrap {
  position: relative;
    display: inline-block; /* 요소들이 인라인으로 배치되도록 설정 */

}



.category, .titleLink{
    text-align: center;
}

.category{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #6e6e6e;
    
}



.titleLink a {
    text-decoration: none;
    font-size: 20px;
    color: black
}

.titleLink a:hover{
    color: #e98358;
}


.textFirst{
    margin-left: 175px;
}

.textLast{
    margin-right: 175px;
}

#imgThisFirst{
    margin-left: 175px;
    width: 200px;
    height: 250px;
}

#imgThisLast{
    margin-right: 175px;
    width: 200px;
    height: 250px;
}


#imgBeforeFirst{
    margin-left: 250px;

}

#imgBeforeBeforeFirst{
    margin-left: 250px;

}

#imgBeforeLast{
    margin-right: 250px;
    
}


#imgBeforeBeforeLast{
    margin-right: 250px;
    
}

.month-selector{
	margin-left:200px;
	font-size:20px;
}





.bookInfo {
    display: none; /* 초기에는 숨김 처리 */
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.4); /* 투명한 검은 배경색 */
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.3s; /* 부드러운 효과를 위해 opacity 속성에 transition 적용 */
}

.bookInfo p{
	margin-top:30px;
}

.bookWrap:hover .bookInfo {
    display: block; /* 호버됐을 때 표시 */
}


.infoFirst{
    margin-left: 250px;
}


 #nav ul li{
    font-family: 'SOYOMapleBoldTTF';
 }

article#article{
    align-items: center;


}

body,
html {
    margin: 0;
    padding: 0;
  
}

#header {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;

}

p{
	margin-top:0;

}

.empty {
    width: 100px;
    height: 100px;
    background-color: transparent;
    flex: 1;
}


.headerWrap {
    display: flex;
    justify-content: space-between;
}

.headerLogin {
    width: 600px;
    height: 100px;
    background-color: transparent;
    position: relative;
    flex: 1;

}

.loginWrap {
    position: absolute;
    right: 0;
    top: 30px;
    padding-left: 100px;
}

.loginWrap>button {
    width: 80px;
    height: 40px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.loginBtn {
    font-size: 16px;
    font-family: 'NEXON Lv1 Gothic OTF';
}

.singUpBtn {
    font-size: 16px;

}

ul {
    list-style: none;
    padding: 0;
}

#nav ul {
    display: flex;
    justify-content: center;

}


/* #nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    color: aliceblue;
    margin-right: 20px;
    font-size: 1.3rem;
    font-family: Fredoka;
} */

/* #nav li:nth-child(1) {
    width: 160px;
    background-color: #0E9AFF;
}

#nav li:nth-child(2) {
    width: 160px;
    background-color: #03CB8F;
}

#nav li:nth-child(3) {
    background-color: #9CC624;
} */

body,
html {
    margin: 0;
    padding: 0;
    
}

#header {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;

}



.empty {
    width: 100px;
    height: 100px;
    background-color: transparent;
    flex: 1;
}


.headerWrap {
    display: flex;
    justify-content: space-between;
}

.headerLogin {
    width: 600px;
    height: 100px;
    background-color: transparent;
    position: relative;
    flex: 1;

}

.loginWrap {
    position: absolute;
    right: 0;
    top: 30px;
    padding-left: 100px;
}

.loginWrap>button {
    width: 80px;
    height: 40px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.loginBtn {
    font-size: 16px;
    font-family: 'NEXON Lv1 Gothic OTF';
}

.singUpBtn {
    font-size: 16px;

}

ul {
    list-style: none;
}

#nav ul {
    display: flex;
    justify-content: center;

}

/* #nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    color: aliceblue;
    margin-right: 20px;
    font-size: 1.3rem;
    font-family: Fredoka;
} */
/* 
#nav li:nth-child(1) {
    width: 160px;
    background-color: #0E9AFF;
}

#nav li:nth-child(2) {
    width: 160px;
    background-color: #03CB8F;
}

#nav li:nth-child(3) {
    background-color: #9CC624;
}

#nav li:nth-child(4) {
    width: 180px;
    background-color: #FFA012;
}

#nav li:nth-child(5) {

    background-color: #FF7223;
}

#nav li:nth-child(6) {
    width: 160px;
    background-color: #FE4848;
}

#nav li:nth-child(7) {
    background-color: #C61FA1;
} */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #563CAB;
    background-image: url("https://ld-wp73.template-help.com/wordpress/prod_26992/v5/wp-content/uploads/2019/12/Vector-2.png");
    background-size: cover;
    color: #fff;
    margin-top: -30px;
}

.bannerbtn {
    background-color: #FEE500;
    border-radius: 10px;
    border: 0;
    color: #3C297B;
    padding: 20px 10px;
    cursor: pointer;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: Fredoka;
}

.topScroll .top {
    position: fixed;
    left: 80%;
    transform: translate(400%, -150%);
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
    opacity: .5;
    cursor: pointer;
}

.topScroll .bottom {
    position: fixed;
    left: 90%;
    transform: translate(130%, -150%);
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
    opacity: .5;
    cursor: pointer;
}

.award {
    font-size: 40px;
    color: #333333;
    font-weight: 600;
    text-align: center;
}

.bannerTitle {
    font-size:70px;
}

.awardContainer {
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;

    width:1700px;
    height:1150px;
}

.awardContainer .awardBox {
    display:flex;
    justify-content:space-around;
    margin:10px 0 25px 50px;
    width:1600px;
    height:550px;
}

.awardContainer .awardBox .awardItems {
    box-shadow: 3px 3px 3px 3px rgb(182, 182, 182);
    border-radius: 20px;
    margin-top:20px;
    width:450px;
    height:520px;
}

.awardContainer .awardlistBox {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border:1px solid black;
    margin:10px 0 25px 50px;
    width: 1600px;
    height: 550px;
}

.awardContainer .awardlistBox .secondline {
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgb(182, 182, 182);
    margin-top:20px;
    width:450px;
    height:520px;
}


#userBestSeller{

    position: relative;
    left: 0;
    top: 0;
}



.bookWrap img.medal1st {
    position: absolute; /* 절대 위치 설정 */
    top: 0px; /* 원하는 위치에 조정 */
    left: 156px; /* 원하는 위치에 조정 */
    
}

.bookWrap img.medal2nd {
    position: absolute;
   /*  top: 190px; */
   top: 0px;
    left:-15px;
    
}

.bookWrap img.medal3rd {
    position: absolute; /* 절대 위치 설정 */
    top: 0px; /* 원하는 위치에 조정 */
    left:-13px; /* 원하는 위치에 조정 */
    
}

.bookWrap img.medal4 {
    position: absolute; /* 절대 위치 설정 */
    top: 0px; /* 원하는 위치에 조정 */
    left:-1px; /* 원하는 위치에 조정 */
    width:100px;
    height:100px
    
}

.bookWrap img.banner{
	position:absolute;
	top:0;
	left:0;
	height:100px;
}

.bookWrap img.medal5 {
    position: absolute; /* 절대 위치 설정 */
    top: 0px; /* 원하는 위치에 조정 */
    left:-1px; /* 원하는 위치에 조정 */
    width:100px;
    height:100px
    
}

.medalImg{
	width:110px;
	height:110px;
}

.bookWrap:hover .bookInfo {
    display: block; /* 호버됐을 때 표시 */
}

.bookWrap:hover img {
    opacity: 0.7; /* 호버됐을 때 이미지 투명도 변경 */
}


.bookAwardPrev button {
    font-size: 30px;
    cursor: pointer;
}



.fa-solid, .fas {
    font-weight: 900;
}

.fa-chevron-right{
	margin-right:300px;

}


.rightBtn{
	margin-right:300px;
}


