@import url(../components/find.css);

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-style: normal;
}



  #id, #leftSsn{
    font-size: 18px;
    font-weight: bold;
  } 

  .pwInputContainer {
    position: relative;
    }

  .togglePassword {
    position: absolute;
    right: 40px; /* 조정 가능한 값 */
    top: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    }


  #id, #passwordInputCheck{
    font-size: 18px;
    font-weight: bold;
  } 


  #error-message {
    margin-left: 40px;
    margin-top: 10px;
  }
  
  