body, input.btnBack, input, textarea, button{
    font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
}

form{
  width: 1080px;
  text-align: center;
  margin: 50px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

section.freeBoard {
  margin: auto;
  padding: 80px 0;
  width: 1080px;
}


th, td{
    height: 40px;
    border: 1px solid #b6b6b6;
}

th{
    width: 170px;
    background-color: #e6e6e6;
    font-size: 18px;
}

td{
    width: 810px;
    text-align: left;
    padding: 10px;
    padding-left: 12px;
}

td .content {
    min-height: 250px;
    
}

.pageTitle {
  margin-bottom: 60px;
}

.pageTitle h3 {
  font-size: 40px;
  color: #333333;
  font-weight:600;
  text-align: center;
}

.pageTitle h3 small{
    color: #9e9e9e;
}

.subject, .content, .attatch{
    min-width:809px;
    min-height: 41px;
    border: 1px solid #b6b6b6;
    font-size: 15px;
}

.subject, .content {
    padding: 10px;
}

.btnBox{
    margin-top: 30px;
}

.btnBack, .btnWrite{
    text-align: center;
    font-size: 16px;
    padding: 8px;
    height: 35px;
    margin: 5px;
}



